src/main/java/kz/mypro/mypro/generated/findPerson.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.findPerson.kz" 
				targetNamespace="http://www.findPerson.kz" elementFormDefault="qualified">
	<xs:element name="findPersonRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="iin" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="findPersonResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="person" type="tns:personType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="personType">
        <xs:sequence>
            <xs:element name="iin" type="xs:string"/>
            <xs:element name="surname" type="xs:string"/>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="lastname" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>